pre.sh_sourcecode {
	background-color: #000000;
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_keyword {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_type {
	color: #f35e1e;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_string {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_regexp {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_specialchar {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_comment {
	color: #ababab;
	font-weight: normal;
	font-style: italic;
}

pre.sh_sourcecode .sh_number {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_preproc {
	color: #ababab;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_symbol {
	color: #f3e651;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_function {
	color: #7bc710;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_cbracket {
	color: #f3e651;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_url {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_date {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_time {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_file {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_ip {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_name {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_variable {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_oldfile {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_newfile {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_difflines {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_selector {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_property {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourcecode .sh_value {
	color: #bb00ff;
	font-weight: normal;
	font-style: normal;
}
