pre.sh_sourcecode {
	background-color: #ffffff;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_keyword {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_type {
	color: #00ff00;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_string {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_regexp {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_specialchar {
	color: #ff22ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_comment {
	color: #0000ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_number {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_preproc {
	color: #ff22ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_function {
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_url {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_date {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_time {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_file {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_ip {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_name {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_variable {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_oldfile {
	color: #ff22ff;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_newfile {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_difflines {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_selector {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_property {
	color: #b26818;
	font-weight: normal;
	font-style: normal;
}

pre.sh_sourcecode .sh_value {
	color: #ff0000;
	font-weight: normal;
	font-style: normal;
}
